---
BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '\.(h|hpp)>$'
    Priority: 2
  - Regex: '^<'
    Priority: 3
...
